body {
  font-family: 'Open Sans', sans-serif;
  color: #666;
}
header {
	padding: 0 15px;
  position: sticky;
  text-align: center;
  top: 0;
  background-color: #00a087;
}

nav{
  position: sticky;
  text-align: center;
  top: 0;
  background-color: #00a087;
}

footer {
	padding: 0 15px;
}
