
/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }

}
.row{
  flex: 1;
  border: 1px solid gray;
  margin: 2px;
  padding: 40px;
  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }
}
