/* Style the navbar */
/* Navbar links */
/* The navigation bar */
.header {
  overflow: hidden;
  background-color: #00a087;
  position: fixed; /* Set the navbar to fixed position */
  top:0;
  width: 100%;
  padding: 2px;
  height: 60px;
}

.fixed-nav-bar {
  position: fixed;
  top: 1;
  z-index: 9999;
  width: 100%;
  padding: 2px;
  height: 17px;
  background-color: #a0b;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column1 {
    float: left;
    width: 23.33%;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
}
.column2 {
    float: left;
    width: 53.33%;
    padding: 10px;
    height: 600px; /* Should be removed. Only for demonstration */
}
.column3 {
    float: left;
    width: auto;
    width: 23.33%;
    padding: 10px;
}
.row1,
.row2,
.row3{
  float: left;
  width: 23.33%;
  height: 200px;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.top-container{
     align-content: center;
     background-color: #ccc;
}
