/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    position: sticky;
    width: inherit;
    top:0;
}



/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
